<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bomzhi.de/petrinet/PetrinetDsl" 
       class = "de.bomzhi.petrinet.petrinetDsl.PetrinetDslPackage"
       genModel = "de/bomzhi/petrinet/PetrinetDsl.genmodel" /> 
	
  </extension>





</plugin>
